header{
  font-family: 'Roboto', sans-serif;
  background-color: blue;
  width:100%;
  height:90px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  }
header ul li{
}
nav
  {
    float:left;
  }
nav ul
  {
      font-size: 20px;
      position: relative;
      left:590px;
      margin:10px;
      padding:0;
  }
  .list{
    color: white;
    text-decoration: none;
  }
nav li
  {
    display: inline-block;
    margin-left: 70px;
    left:330px;
    padding-top: 23px;
    position: relative;

    }
 li:hover
  {
    color: black;
  }
nav li::before
  {
    content: '';
    display: block;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 50px;
    width: 0%;
    transition: all ease-in-out 250ms;
  }
  nav li:hover::before
  {
    width: 100%;
  }

body{
  font-family: 'Roboto', sans-serif;
  margin:0;
}
.reviews{
  margin:20px;
}
h1{
  position: relative;
  margin:10px;
  padding:5px;
  color:blue;
  font-size: 60px;
}
.cont{
  position: relative;
  margin: 70px;
}
/* table{
  border-collapse: collapse;
  width: 700px;
}
th, td{
  padding:10px;
  width: 700px;
} */
table {
  text-align: center;
  position: relative;
  top:200px;
  border-collapse: collapse;
  width: 800px;
}

th{
  text-align: left;
  padding: 8px;
  width:200px;
}
td{
  text-align: left;
  font-size: 25px;
  padding:15px;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color:blue;
  color: white;
}
tr:hover {background-color: #f5f5f5;}
